.about {
    max-width: 980px;
    margin: 0 auto;
  
    p {
      font-family: Gil;
      font-size: 16px;
    }
  
    .top-section {
      padding-top: 100px;
  
      h1 {
        font-family: Proxima;
        font-size: 60px;
      }
      // h1:before {
      //   position: absolute;
      //   text-decoration: underline;
      //   width: 171px;
      //   overflow: hidden;
      // }
    }
  
    .bottom-section {
      padding-top: 80px;
      padding-bottom: 10px;
  
      h3 {
        font-family: Proxima;
        font-size: 40px;
      }
  
      .client {
        max-width: 676px;
        min-height: 150px;
        display: flex;
        margin-bottom: 38px;
        padding-top: 37px;
  
        .client-image {
          min-width: 260px;
          min-height: 150px;
        }
        .client1 {
          background-image: url(../images/about-client-01.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
  
        .client2 {
          background-image: url(../images/about-client-02.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
  
        .client-quote {
          position: relative;
          min-height: 50px;
          width: 100%;
          padding-left: 25px;
  
          p:last-of-type {
            margin-bottom: 55px;
          }
  
          .client-name {
            position: absolute;
            right: 0;
            bottom: 0;
            color: $site-blue;
            font-family: Proxima;
            font-size: 20px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1100px) {
    .about {
      padding: 30px;
    }
  }