@mixin center($elementWidth, $elementMargin) {
  max-width: $elementWidth;
  margin: $elementMargin;
}

@mixin siteButton($btnPadding: 10px, $btnRadius: 20px, $btnBG: #79addc) {
padding: $btnPadding;
border-radius: $btnRadius;
background-color: $btnBG;

}