.tour-section {
    //israel
    .israel-tour{
        @include center(981px, 20px auto 0 auto);
        height: 413px;
        background-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        )
        ,url(../images/tour-01.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .tour-package {
            color: #fff;
            font-size: 80px;
            padding-left: 30px;
            padding-top: 30px;
            font-family: Proxima;
            font-style: normal;
        }
        .starting-from {
            color: #fff;
            font-size: 30px;
            font-family: Proxima;
            font-style: normal;
            position: absolute;
            right: 0;
            bottom: 0;
        }

}

//usa
.usa-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-02.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}               

//australia
.australia-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-03.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        //background-color: black;
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}
//new zealand
.newzealand-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-04.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        width: 900px;
        //background-color: red;
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        width: 900px;
        //background-color: red;
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

//france
.france-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-05.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

//egypt
.egypt-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-06.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

//japan
.japan-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-07.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

//canada
.canada-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-08.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

//uae
.uae-tour{
    @include center(981px, 20px auto 0 auto);
    height: 413px;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    )
    ,url(../images/tour-09.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .tour-package {
        color: #fff;
        font-size: 80px;
        padding-left: 30px;
        padding-top: 30px;
        font-family: Proxima;
        font-style: normal;
    }
    .starting-from {
        color: #fff;
        font-size: 30px;
        font-family: Proxima;
        font-style: normal;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}
}

@media all and (max-width: 1200px) {
    .tour-section {
        .israel-tour {
            align-items: center;
        }
    }
}